@import "tailwindcss";
:root {
  font-family: Vazirmatn, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[role="button"] {
  cursor: pointer;
}

.scrollbar {
  overflow-y: auto; /* Ensure scrollbar is visible */
}

.scrollbar::-webkit-scrollbar {
  @apply w-2; /* Set scrollbar width */
}

.scrollbar::-webkit-scrollbar-track {
  @apply bg-gray-100; /* Style the track */
}

.scrollbar::-webkit-scrollbar-thumb {
  @apply bg-gray-300 rounded-full dark:bg-neutral-500; /* Style the thumb */
}
